@media (min-width:768px){
    .cards3{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 36px;
        .title-container{
            grid-column: 1/4;
        }
        .card-author{
            height: 100%;
            margin: 16px 0px 0px 0px;
        }
        .avatar-container{
            display: flex;
            justify-self: flex-end;
        }
        .card-note p{
            margin-top: 10px;
        }
    }
    

    .cards3 .card-1 , .cards3 .card-2, .cards3 .card-3, .cards3 .card-4, .cards3 .card-5, .cards3 .card-6{
        margin: 10px;
    }


}